<div class="row" ng-controller="UserListController">
    <div class="col-sm-12">
        <div class="card">
            <div class="card-header">
                {{ 'USERS' | translate }}
            </div>
            <div class="card-block">
                <table class="table">
                    <thead>
                    <tr>
                        <th>{{ 'USERNAME' | translate }}</th>
                        <th>{{ 'EMAIL' | translate }}</th>
                        <th>{{ 'CREATED' | translate }}</th>
                        <th>{{ 'UPDATED' | translate }}</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="user in users">
                        <td>{{user.name}}</td>
                        <td>{{user.email}}</td>
                        <td>{{user.created_at}}</td>
                        <td>{{user.updated_at}}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>