<div class="row" ng-controller="ProjectItemController">
    <div class="col-sm-12">
        <div class="card">
            <div class="card-header">
                {{ project.name }}
            </div>
            <div class="card-block">
                <button type="button" class="btn btn-outline-primary" data-target="#project-edit-modal"
                        data-toggle="modal">{{ 'PROJECT_EDIT' | translate }}
                </button>
            </div>
        </div>
    </div>

    <div ng-include="test"></div>
</div>