<div class="row" ng-controller="ProjectItemController">

    <div class="col-sm-6 col-lg-3">
        <div class="card">
            <div class="card-block">
                <div class="h4 m-a-0">{{ project.name }}</div>
                <div class="p-b-1">{{ project.description }}</div>

                <button type="button" class="btn btn-block btn-outline-primary" data-target="#project-edit-modal"
                        data-toggle="modal">{{ 'PROJECT_EDIT' | translate }}
                </button>
            </div>
        </div>
    </div>

    <div class="col-sm-12">
        <div ng-include="templates.task.taskProjectTable" ng-controller="TaskListController"></div>
    </div>

    <div ng-include="templates.project.projectEditModal"></div>
</div>